/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */

/**
 * Variables
 */


/**
 * General layout
 */

.inner-wrap {
    max-width: 800px;
    margin: 0 auto;
}

.row::after {
    clear: both;
}

/* Header */

.inner-wrap-header {
    max-width: 100%;
}

.region-header-col-1 {
    width: 20%;
    float: left;
}

.region-header-col-2 {
    width: 60%;
    float: left;
    text-align: center;
}

.region-header-col-3 {
    width: 20%;
    float: left;
}

.site-logo {
    display: none;
}

.site-logo-text a {
    font-size: 28px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.my-navbar {
    font-size: 20px;
    display: inline;
}

.my-navbar > li > ul {
    background-color: #ddd;
    opacity: 0.8;
}

/* Main and sidebars */
.inner-wrap-main {
    .clearfix();
}

.region-main {
    width: 100%;
    float: left;
    .clearfix();

    &.has-sidebar {
        width: 70%;
    }

    &.has-sidebar-left.has-sidebar-right {
        width: 60%;
    }
}

.region-sidebar-left,
.region-sidebar-right {
    width: 30%;
    float: left;
}

.region-sidebar-left.has-sidebar-right,
.region-sidebar-right.has-sidebar-left {
    width: 20%;
    float: left;
}



/* Content */
.article {
    font-size: 18px;
    overflow: auto;
    margin-bottom: 72px;
}

.figure.right {
    float: right;
}

/* Byline */
.site-byline {
    overflow: auto;
    border: solid 1px black;
    background-color: white;
    position: relative;
}

.byline-presentation {
    position: absolute;
    top: 10%;
    left: 20%
}

.byline-name {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.left {
    float: left;
}

.left>figcaption {
    margin-top: -20px;
    font-style: oblique;
}

/* Footer */
.outer-wrap-footer {
    background-color: #303030;
    color: white;
}

.footer-column {
    width: 33%;
    float: left;
    padding-bottom: 20px;
}

.site-footer {
    text-align: center;
}
